################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Listify.Commons/obj/Debug/net8.0/
/src/Listify.Commons/obj/Release/net8.0/
/src/Listify.Integration/obj/Debug/net8.0/
/src/Listify.Integration/obj/Release/net8.0/
/src/Listify.Models/obj/Debug/net8.0/
/src/Listify.Models/obj/Release/net8.0/
/src/Listify.Repositories/obj/Debug/net8.0/
/src/Listify.Repositories/obj/Release/net8.0/
/src/Listify.UI/obj/Debug/net8.0-windows/
/src/Listify.UI/obj/Release/net8.0-windows/
