################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Listify.Commons/obj/Debug/net8.0/Listify.Commons.AssemblyInfo.cs
/src/Listify.Commons/obj/Debug/net8.0/Listify.Commons.AssemblyInfoInputs.cache
/src/Listify.Commons/obj/Release/net8.0/Listify.Commons.AssemblyInfo.cs
/src/Listify.Commons/obj/Release/net8.0/Listify.Commons.AssemblyInfoInputs.cache
/src/Listify.Commons/obj/Release/net8.0/Listify.Commons.assets.cache
/src/Listify.Commons/obj/Release/net8.0/Listify.Commons.GeneratedMSBuildEditorConfig.editorconfig
/src/Listify.Integration/obj/Debug/net8.0/Listify.Integration.AssemblyInfo.cs
/src/Listify.Integration/obj/Debug/net8.0/Listify.Integration.AssemblyInfoInputs.cache
/src/Listify.Integration/obj/Debug/net8.0/Listify.Integration.csproj.AssemblyReference.cache
/src/Listify.Integration/obj/Release/net8.0/Listify.Integration.AssemblyInfo.cs
/src/Listify.Integration/obj/Release/net8.0/Listify.Integration.AssemblyInfoInputs.cache
/src/Listify.Integration/obj/Release/net8.0/Listify.Integration.assets.cache
/src/Listify.Integration/obj/Release/net8.0/Listify.Integration.GeneratedMSBuildEditorConfig.editorconfig
/src/Listify.Models/obj/Debug/net8.0/Listify.Models.AssemblyInfo.cs
/src/Listify.Models/obj/Debug/net8.0/Listify.Models.AssemblyInfoInputs.cache
/src/Listify.Models/obj/Release/net8.0/Listify.Models.AssemblyInfo.cs
/src/Listify.Models/obj/Release/net8.0/Listify.Models.AssemblyInfoInputs.cache
/src/Listify.Models/obj/Release/net8.0/Listify.Models.assets.cache
/src/Listify.Models/obj/Release/net8.0/Listify.Models.GeneratedMSBuildEditorConfig.editorconfig
/src/Listify.Repositories/obj/Debug/net8.0/Listify.Repositories.AssemblyInfo.cs
/src/Listify.Repositories/obj/Debug/net8.0/Listify.Repositories.AssemblyInfoInputs.cache
/src/Listify.Repositories/obj/Release/net8.0/Listify.Repositories.AssemblyInfo.cs
/src/Listify.Repositories/obj/Release/net8.0/Listify.Repositories.AssemblyInfoInputs.cache
/src/Listify.Repositories/obj/Release/net8.0/Listify.Repositories.assets.cache
/src/Listify.Repositories/obj/Release/net8.0/Listify.Repositories.GeneratedMSBuildEditorConfig.editorconfig
/src/Listify.UI/obj/Debug/net8.0-windows/Listify.UI.AssemblyInfo.cs
/src/Listify.UI/obj/Debug/net8.0-windows/Listify.UI.AssemblyInfoInputs.cache
/src/Listify.UI/obj/Debug/net8.0-windows/Listify.UI.csproj.AssemblyReference.cache
/src/Listify.UI/obj/Release/net8.0-windows/Listify.UI.AssemblyInfo.cs
/src/Listify.UI/obj/Release/net8.0-windows/Listify.UI.AssemblyInfoInputs.cache
/src/Listify.UI/obj/Release/net8.0-windows/Listify.UI.assets.cache
/src/Listify.UI/obj/Release/net8.0-windows/Listify.UI.GeneratedMSBuildEditorConfig.editorconfig
