################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Listify.Commons/obj/
/src/Listify.Commons/bin

/src/Listify.Integration/obj/
/src/Listify.Integration/bin/

/src/Listify.Models/obj/
/src/Listify.Models/bin/

/src/Listify.Repositories/obj/
/src/Listify.Repositories/bin/

/src/Listify.UI/obj/
/src/Listify.UI/bin/

/src/Listify.UI/bin/Debug/logs/logger20240708.log
/src/Listify.UI/bin/Debug/repo/combinations.txt
/src/Listify.Integration/bin/Debug/net8.0/Listify.Integration.dll
/src/Listify.Integration/bin/Debug/net8.0/Listify.Integration.pdb
/src/Listify.Integration/bin/Debug/net8.0/Listify.Repositories.dll
/src/Listify.Integration/bin/Debug/net8.0/Listify.Repositories.pdb
/src/Listify.Integration/obj/Debug/net8.0/Listify.Integration.AssemblyInfo.cs
/src/Listify.Integration/obj/Debug/net8.0/Listify.Integration.AssemblyInfoInputs.cache
/src/Listify.Integration/obj/Debug/net8.0/Listify.Integration.csproj.AssemblyReference.cache
/src/Listify.Integration/obj/Debug/net8.0/Listify.Integration.dll
/src/Listify.Integration/obj/Debug/net8.0/Listify.Integration.pdb
/src/Listify.Integration/obj/Debug/net8.0/Listify.Integration.sourcelink.json
/src/Listify.Integration/obj/Debug/net8.0/ref/Listify.Integration.dll
/src/Listify.Integration/obj/Debug/net8.0/refint/Listify.Integration.dll
/src/Listify.Repositories/bin/Debug/net8.0/Listify.Repositories.dll
/src/Listify.Repositories/bin/Debug/net8.0/Listify.Repositories.pdb
/src/Listify.Repositories/obj/Debug/net8.0/Listify.Repositories.AssemblyInfo.cs
/src/Listify.Repositories/obj/Debug/net8.0/Listify.Repositories.AssemblyInfoInputs.cache
/src/Listify.Repositories/obj/Debug/net8.0/Listify.Repositories.csproj.CoreCompileInputs.cache
/src/Listify.Repositories/obj/Debug/net8.0/Listify.Repositories.dll
/src/Listify.Repositories/obj/Debug/net8.0/Listify.Repositories.pdb
/src/Listify.Repositories/obj/Debug/net8.0/Listify.Repositories.sourcelink.json
/src/Listify.Repositories/obj/Debug/net8.0/ref/Listify.Repositories.dll
/src/Listify.Repositories/obj/Debug/net8.0/refint/Listify.Repositories.dll
/src/Listify.UI/bin/Debug/net8.0-windows/Listify.Integration.dll
/src/Listify.UI/bin/Debug/net8.0-windows/Listify.Integration.pdb
/src/Listify.UI/bin/Debug/net8.0-windows/Listify.Repositories.dll
/src/Listify.UI/bin/Debug/net8.0-windows/Listify.Repositories.pdb
/src/Listify.UI/bin/Debug/net8.0-windows/Listify.UI.dll
/src/Listify.UI/bin/Debug/net8.0-windows/Listify.UI.exe
/src/Listify.UI/bin/Debug/net8.0-windows/Listify.UI.pdb
/src/Listify.UI/obj/Debug/net8.0-windows/apphost.exe
/src/Listify.UI/obj/Debug/net8.0-windows/Listify.UI.AssemblyInfo.cs
/src/Listify.UI/obj/Debug/net8.0-windows/Listify.UI.AssemblyInfoInputs.cache
/src/Listify.UI/obj/Debug/net8.0-windows/Listify.UI.csproj.AssemblyReference.cache
/src/Listify.UI/obj/Debug/net8.0-windows/Listify.UI.dll
/src/Listify.UI/obj/Debug/net8.0-windows/ref/Listify.UI.dll
/src/Listify.UI/obj/Debug/net8.0-windows/refint/Listify.UI.dll
/src/Listify.UI/obj/Debug/net8.0-windows/Listify.UI.pdb
/src/Listify.UI/obj/Debug/net8.0-windows/Listify.UI.sourcelink.json
/src/Listify.UI/obj/Debug/net8.0-windows/Listify.UI.csproj.GenerateResource.cache
